*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #7F7C82;
}

.main-section--card {
    width: 100%;
    max-width: 500px;
    height: auto;
    margin: 0 auto;
    margin-top: 20px;
    border: 1px solid #C32BAD;
    background-color: #FEF5ED;
}

.main-section--card p {
    font-size: 1.8rem;
    text-align: justify;
    padding-bottom: 10px;
}

.main-headboard {
    display: flex;
    background-color: #FF87CA;
    font-weight: bold;
    color: white;
    box-shadow: 0 2px 20px 0 rgb(0, 0, 0, 0.5);
    align-items: center;
}

.main-headboard img {
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

.main-headboard p {
    font-size: 2.6rem;
    padding: 0 10px;
}

.main-headboard .tagline {
    font-size: 1.6rem;
    font-weight: normal;
    padding-left: 10px;
    color: #000D6B;
}

.main-container--body {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: 20px auto;
    color: #000D6B;
}

.main-container--body h1 {
    font-size: 3rem;
    margin: 15px auto;
    text-align: center;
}

.container--img {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.main-container--body img {
    width: 150px;
    height: 200px;
}

.main-section--title p {
    font-size: 1.8rem;
    text-align: justify;
    padding-bottom: 10px;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: #CAB8FF;
    color: #000D6B;
}

.footer p {
    padding: 0;
}

.footer .heart-icon {
    display: inline-block;
    width: 20px;
    height: 30px;
    vertical-align: middle;
    background-image: url('../assets/icons/corazones.jpg');
    background-repeat: no-repeat;
    background-size: contain;
}
