*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.main-section--title {
    width: 100%;
    max-width: 500px;
    height: auto;
    margin: 0 auto;
    margin-top: 20px;
    border: 1px solid #C32BAD;
    background-color: #FEF5ED;
}

.main-headboard {
    display: flex;
    background-color: #FF87CA;
    font-weight: bold;
    color: white;
    box-shadow: 0 2px 20px 0 rgb(0, 0, 0, 0.5);
    align-items: center;
}

.main-headboard p {
    font-size: 2.6rem;
    padding: 0 10px;
}

.main-headboard .tagline {
    font-size: 1.6rem;
    font-weight: normal;
    padding-left: 10px;
    color: #000D6B;
}

.main-container--title {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: 20px auto;
    color: #40394A;
}

.main-container--title h1 {
    font-size: 2.6rem;
    margin: 10px auto;
    text-align: center;
}

.main-section--title p {
    font-size: 1.8rem;
    text-align: justify;
}